@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f8fafc;
  overflow: hidden;
  touch-action: none;
  position: fixed;
  top: 0;
  left: 0;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}