@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  overflow: hidden;
  touch-action: none;
}

#root {
  width: 100vw;
  height: 100vh;
}
